section {
	display: inline-block;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: yellow;
}

.left {
	width: 50%;
	float: left;
	padding: 20px;
	background-color: pink;
}

.right {
	background-color: aqua;
	width: 50%;
	float: left;
}
